- hosts: terraform-ansible
  tasks:
  - name: Instalando o Python3 e o Virtualenv #instala o Python3 e o Virtualenv
    apt:
      pkg:
      - python3 # Instala o Python3
      - virtualenv # Instala o Virtualenv
      update_cache: yes # Atualiza o cache do apt
    become: yes # Executa a task com privilégios de superusuário
    
  - name: Instalando dependencias com pip (Django e Django rest)
    pip:
      virtualenv: /home/ubuntu/venv # Criando um ambiente virtual na pasta venv
      name:
        - django # Instalando o Django
        - djangorestframework # Instalando o Django Rest Framework
  - name: Verificando se o projeto já existe
    stat: # Verifica se o arquivo settings.py existe
      path: /home/ubuntu/setup/settings.py #se existe o arquivo -> projeto já foi criado
    register: projeto # se true -> existe o projeto
  
  - name: Iniciando o Projeto
    shell: '. /home/ubuntu/venv/bin/activate; django-admin startproject setup /home/ubuntu/' # Inicia o projeto Django na pasta /home/ubuntu/
    when: not projeto.stat.exists # se o projeto existe, pula-se essa task
  
  - name: Configurando um arquivo com Ansible # permitindo acesso externo
    lineinfile: # Modifica o arquivo settings.py para permitir acesso externo
      path: /home/ubuntu/setup/settings.py # Caminho do arquivo settings.py
      regexp: 'ALLOWED_HOSTS' # Procura a linha que começa com ALLOWED_HOSTS
      line: 'ALLOWED_HOSTS = ["*"]' # Substitui a linha por ALLOWED_HOSTS = ["*"]
      backrefs: yes # Habilita o uso de expressões regulares